<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UseRCivilService" value="True" />
    <add key="RCivilServerURL" value="http://webservice02.registrocivil.gob.ec:8080/WEBRCDatosIdentidad/WSRegistroCivilConsulta" />
    <add key="RCivilServerUser" value="cooptulcan1" />
    <add key="RCivilServerPassword" value="CoTlK@n1" />
    <add key="RCivilServerTimeOut" value="5000" />
    <add key="UseCognitiveServices" value="True" />
    <add key="CognitiveServicesURL" value="https://westus.api.cognitive.microsoft.com/face/v1.0" />
    <add key="CognitiveServicesSubscriptionKey" value="aceb92064fe74997b6c2349bc7e4225d" />
    <add key="CognitiveServicesTimeOut" value="5000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>